<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.tayo.app.dao.QuestionDao">

	<resultMap type="fun.tayo.app.dto.Question" id="Question">
		<result column="question_content" property="questionContent"/>
		<result column="answer_content" property="answerContent"/>
	</resultMap>
	
	<select id="selectQuestion" resultMap="Question">
		SELECT id, question_content, answer_content
		FROM QUESTION
		ORDER BY id DESC
	</select>
	
	<insert id="insertQuestion" parameterType="Question">
		INSERT INTO QUESTION (id, question_content, answer_content)
		VALUES (QUESTION_SEQ.nextval, #{questionContent}, #{answerContent})
	</insert>
	
	<update id="updateQuestion" parameterType="Question">
		UPDATE QUESTION
		SET question_content = #{questionContent}, answer_content = #{answerContent}
		WHERE id = #{id} 
	</update>
	
	<select id="selectQuestionByNo" resultMap="Question" parameterType="Question">
		SELECT id, question_content, answer_content
		FROM QUESTION
		WHERE id = #{id}
	</select>
</mapper>