<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.tayo.app.dao.QuestionChatDao">

	<select id="cntByMemberId" resultType="int" parameterType="MemberSession">
		SELECT count(*) FROM QUESTION_CHAT
		WHERE member_id = #{id }
	</select>
	
	<insert id="insertChatRoom" parameterType="MemberSession">
		INSERT INTO QUESTION_CHAT ( id, member_id )
		VALUES ( QUESTION_CHAT_SEQ.nextval , #{id})
	</insert>
	
	<select id="selectChatRoom" resultType="int">
		SELECT id FROM Question_Chat
		WHERE member_id = #{id }
	</select>
	
	<select id="selectMessage" parameterType="int" resultType="QuestionMessage">
		SELECT id, content, send_date, read, member_id, question_chat_id, name
		FROM QUESTION_MESSAGE
		WHERE question_chat_id = #{roomId }
	</select>

	<select id="selectChatRoomByQuestionId" parameterType="int" resultType="QusetionChat">
		SELECT id FROM Question_Chat
		WHERE id = #{questionChatId }
	</select>
	
	<insert id="insertChatMessage" parameterType="QuestionMessage">
		INSERT INTO QUESTION_MESSAGE 
			(id, content, name, member_id, read, question_chat_id)
		VALUES (QUESTION_CHAT_SEQ.nextval, #{content}, #{name}, #{memberId},#{read}, #{questionChatId})
	</insert>
	
</mapper>