@charset "UTF-8";

section {
	width: 50%;
	max-width: 480px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin: 60px 0px; 
}

.container__input {
	width: 90%;
	margin-bottom: 50px;
}

.container__input > input {
	width: 100%;
}

.container__input > p {
   	font-size: 13px;
   	margin: 8px 8px 15px 8px;
}

.tayo-input {
	border-bottom: 2px solid var(--color-light-grey);
	color: black
}

#findBtn{
	width: 70%;
	font-weight: bold;
	height: 30px;
}