.board {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 16px 50px;

    align-items: center;
    width: 900px;
    height: 70vh;
    justify-content: space-between;
    margin: auto;
    z-index: 100;

    background-color: var(--color-white);
}

/* 게시글 목록 */
.board__title {
    display: inline-block;
    text-align: center;
    margin: 32px auto;

    font-size: var(--font-medium);
    font-weight: bold;
}

.board__insert-button,
.board__back-button,
.post__back-button {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 50px;
    cursor: pointer;
}

.board__exit-button {
    position: absolute;
    top: 16px;
    right: 16px;

    color: var(--color-red);
    font-size: 50px;
    cursor: pointer;
}

.board__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 0;
    overflow-y: scroll;
}

.post-title {
    display: flex;
    position: relative;
    font-weight: bold;
    width: 100%;
    height: 25px;

    border-bottom: 1px solid var(--color-light-grey);
    margin-bottom: 8px;
}

.post-title__no {
    position: absolute;
    left: 48px;
    width: 10%;
}

.post-title__date {
    position: absolute;
    left: 225px;
    width: 10%;
}

.post-title__title {
    position: absolute;
    left: 448px;
    width: 10%;
}

.post-title__writer {
    position: absolute;
    left: 680px;
    width: 10%;
}

.new-post {
    position: absolute;
    left: 24px;
    top: 7px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: var(--font-micro);
    border-radius: 4px;
    background-color: var(--color-orange);
    color: var(--color-white);
    text-align: center;
}

.post {
    display: flex;
    position: relative;
    padding: 8px 24px 8px 48px;
    cursor: pointer;
    user-select: none;
    align-items: center;
}

.post:hover {
    background-color: var(--color-puple);
    color: var(--color-white);
    font-size: var(--font-small);
}

.post__no {
    flex: 1 1 10%;
    text-align: left;
}

.post__date {
    flex: 1 1 20%;
    text-align: center;
}

.post__title {
    flex: 1 1 30%;
    text-align: center;
}

.post__title > span {
    color: var(--color-red);
}

.post__writer {
    flex: 1 1 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.writer__img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid var(--color-white);
}

.board__page {
    margin-top: 16px;
    display: flex;
    user-select: none;
}

.board__page > * {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-dark-grey);
    font-size: var(--font-small);
}

.board__page > *:not(.page__lt) {
    margin-left: 8px;
}

.board__page > div:hover:not(.current-page) {
    transform: scale(1.1);
    text-decoration: underline;
}

.page__no.current-page {
    background-color: var(--color-puple);
    border-radius: 50%;
    color: var(--color-white);
    transform: scale(1.2);
}

.page__lt,
.page__gt {
    color: var(--color-light-grey);
    cursor: default;
}

.page__lt.active,
.page__gt.active {
    color: var(--color-dark-grey);
    cursor: pointer;
}


/* 게시글 상세 */
.detail__title {
    display: inline-block;
    text-align: center;
    margin: 8px auto;

    font-size: var(--font-medium);
    font-weight: bold;
}

.detail-date {
    font-size: var(--font-small);
    font-weight: bold;
}

.detail-content {
    display: flex;
    flex-direction: column;

    user-select: text;
    padding: 16px;
    width: 100%;
    flex: 2 1 0;
    overflow-y: scroll;

    font-size: var(--font-small);
    border-radius: 4px;
    border: 1px solid var(--color-light-grey);
}

.board-file {
    max-width: 400px;
    margin: 0 auto;
    align-self: center;
}

.control-panel {
    margin-top: 16px;
    width: 100%;
}

.control-buttons {
    display: flex;
    float: left;
    font-size: 30px;
    color: var(--color-grey);
}

.control-buttons > i {
    cursor: pointer;
    transition: all 150ms linear;
}

.control-buttons > i:hover {
    color: var(--color-puple);
    transform: translate(1.1);
}

.control-edit-btn {
    margin-right: 16px;
}

.control-profile {
    display: flex;
    float: right;
    align-items: flex-end;
}

.control-profile__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-light-grey);
    margin-right: 8px;
}

.control-profile__name {
    font-size: var(--font-small);
}

.comments-list {
    width: 100%;
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 8px;
}

.comments-list > .comments:not(.comments:first-child) {
    margin-top: 8px;
}

.comments {
    padding: 0 30px 0 16px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 50px;
    position: relative;
}

.comments__content {
    font-size: var(--font-small);
    color: var(--color-dark-grey);
}

.comments-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-profile {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.comments-profile__img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
}

.comments-profile__name {
    font-size: var(--font-micro);
    font-weight: bold;
}

.comments-write-date {
    font-size: var(--font-micro);
}

.comments-delete-btn {
    position: absolute;
    right: 6px;
    cursor: pointer;
    color: var(--color-red);
    top: 50%;
    transform: translate(0, -50%);
}

.no-comments {
    text-align: center;
}

.comments-input-panel {
    display: flex;
    width: 100%;
    padding: 16px;
}

.comments-input-box {
    flex-grow: 1;
    font-size: var(--font-small);
    color: var(--color-dark-grey);
    margin-right: 8px;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--color-grey);
    padding: 4px 8px;
}

.comments-input-btn {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--color-puple);
    color: var(--color-white);
    font-size: var(--font-small);
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
}

/* 새 게시글 */
.create__header {
    width: 100%;
    display: flex;
    padding: 8px;
}

#create__post-category {
    outline: none;
    width: 150px;
    margin-right: 8px;
}

#create__post-title {
    flex-grow: 1;
    outline: none;
    color: var(--color-dark-grey);
    padding: 4px 8px;
}

.create__plan-date {
    margin-bottom: 8px;
    background-color: #fffcde;
    display: none;
}

.create__plan-date.active {
    display: block;
}

.create__accept-btn {
    display: flex;
    align-self: flex-end;
    width: 120px;
}

#create__post-file {
    margin: 8px;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update__post-old-file {
    margin-top: 8px;
}