body {
    padding: 10px;
    background-color: var(--color-light-grey);
    width: 1960px;
    height: 1120px;
}

section {
    padding: 0;
}

.screen {
    border: 10px solid var(--color-white);
    border-radius: 4px;
    background-image: url("/resources/img/workspace-background.png");
    width: 1940px;
    height: 1100px;
    position: relative;
}

/* 좌측 네비 여닫이 버튼 */
.fa-chevron-right {
    font-size: var(--font-medium);
    color: var(--color-dark-grey);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--color-white);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    user-select: none;

    position: fixed;
    left: 30px;
    top: 50%;

    transition: all 150ms ease-out;
}

.fa-chevron-right:hover {
    transform: scale(1.1);
    color: var(--color-puple);
}

/* 나가기 버튼 */
.exit {
    font-size: var(--font-medium);
    color: var(--color-dark-grey);
    cursor: pointer;
    position: fixed;
    right: 32px;
    top: 32px;

    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;

    border-radius: 50%;
    background-color: var(--color-white);

    transition: all 150ms ease-out;
}

.exit:hover {
    color: var(--color-red);
    transform: scale(1.1);
}

/* 하단 메뉴 */
.bottom-menu {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);
    font-size: var(--font-medium);

    display: flex;
    align-items: center;
}

.bottom-menu > i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.bottom-menu > i.active {
    color: rgba(11, 255, 2, 0.4);
}


/* 채팅창 */

.chat-box {
    width: 450px;
    display: flex;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 28px;
    justify-content: space-between;
    border: 1px solid var(--color-dark-grey);
    color: rgba(0, 0, 0, 0.4);

    align-items: center;
    position: relative;
}

.chat-box > label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-grow: 1;
}

#chat {
    flex-grow: 1;
    padding-left: 8px;
    padding-right: 8px;
    font-size: var(--font-small);
    color: var(--color-dark-grey);
    outline: none;
    border: none;
    background: none;

    font-weight: bold;
}

#chat::placeholder {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.4);
}

#chat:focus + i {
    color: var(--color-dark-grey);
}

.chat-box i:hover {
    color: var(--color-dark-grey);
    cursor: pointer;
}

.fa-arrow-up {
    transition: all 400ms ease-out;
}

.fa-arrow-up.active {
    transform: rotate(0.5turn);
}


.chat-history {
    width: 450px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);

    border-radius: 4px;
    border: 1px solid var(--color-white);
    position: absolute;

    left: -2px;
    top: 100px;

    transition: all 400ms ease-out;
}

.chat-history.active {
    top: -460px;
}

.chat-history__title {
    text-align: center;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 8px;
}

.chat-history__content {
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    padding: 0 16px;
    font-size: var(--font-small);
    color: var(--color-white);
}

.history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.history.user {
    align-items: flex-end;
}

.history:not(.history:first-child) {
    margin-top: 8px;
}

.history__title {
    display: flex;
    align-items: flex-end;
}

.history__content {
    word-wrap: break-word;
    margin-left: 16px;
    margin-top: 8px;
    max-width: 250px;
    padding: 8px;

    border-radius: 0 16px 16px 16px;
    background-color: #656565;
}

.history.user > .history__content {
    border-radius: 16px 0 16px 16px;
    background-color: var(--color-yellow);
    color: var(--color-dark-grey);
}

.history__profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    margin-right: 8px;
}

.history.user > .history__title {
    display: none;
}

.history__user-name {
    font-weight: bold;
}


/* 아바타 */
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    position: absolute;

    user-select: none;
    transition: all 500ms ease-in-out;
    left: 30px;
    top: 30px;
}

.img-wrap {
    height: 45px;
    width: 45px;

    position: relative;
}

/* 다른캐릭 onair시 클릭 모양 활성화 */
.img-wrap.cursor {
    cursor: pointer;
}

/* 내 캐릭 클릭시 범위 */
.user .img-wrap {
    cursor: pointer;
}

.avatar img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 3px solid var(--color-light-grey);
}

.avatar.user img {
    border-color: var(--color-green);
}

.img-wrap > i {
    font-size: var(--font-micro);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    background-color: var(--color-dark-grey);
    border: 1px solid var(--color-light-grey);
    color: var(--color-white);
    position: absolute;
    border-radius: 50%;
    display: none;
}

.img-wrap > i.active {
    display: block;
}

.mute {
    left: 0;
    bottom: 0;
}

.on-air {
    right: 0;
    bottom: 0;
}

.avatar__name {
    margin-top: 4px;
    text-align: center;
    font-size: var(--font-micro);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 28px;
    padding: 2px 6px;
}

/* 말풍선 */
.speech-bubble-wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 150px;
    transform: translate(-20%, -100%);
    transition: all 500ms ease-in-out;
    user-select: none;
    text-align: center;

    left: 30px;
    top: 15px;
}

.speech-bubble {
    word-wrap: break-word;
    min-width: 49px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-white);
    border-radius: 16px;
    padding: 8px;
}

.speech-bubble-wrap .arrow-down {
    width: 0;
    height: 0;

    position: absolute;
    left: 64px;
    bottom: -10px;
    border-top: 10px solid rgba(0, 0, 0, 0.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.speech-bubble-wrap.active {
    transition: all 500ms ease-in-out, opacity 3000ms linear;
    opacity: 0;
}