
section {
    position: relative;
    background: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 16px;
}

/* 헤더 */
.work-spaces__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.header__left {
    display: flex;
    margin-right: 36px;
}

.left__profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-grey);
}

.left__nick {
    margin-left: 8px;
    line-height: 40px;
    font-size: var(--font-regular);
    font-weight: bold;
    color: var(--color-white);
}

.header__right {
    display: flex;
    align-items: flex-end;
}

.invitation-code-input {
    outline: none;
    border: none;
    border-radius: 4px;
    height: 30px;
    padding: 0 8px;
    line-height: 30px;
    color: var(--color-dark-grey);
}

.invitation-code-input::placeholder {
    color: var(--color-light-grey);
}

.invitation-code-submit {
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    transition: all 100ms linear;
}

.invitation-code-submit:hover {
    color: var(--color-puple);
}


/* 바디 */

.work-spaces__body {
    background-color: var(--color-white);
    padding: 30px;
}

.work-spaces__title {
    display: block;
    text-align: center;
    width: 200px;
    margin: auto;
}

.work-spaces__board {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
}

.add-work-space {
    display: block;
    text-align: right;
    padding-right: 14px;
    margin-bottom: 8px;
    color: var(--color-green);
    cursor: pointer;
    user-select: none;
    font-size: var(--font-medium);
}

.work-spaces__list {
    padding-left: 8px;
    padding-right: 8px;
}

.work-spaces__item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: var(--font-small);
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.item__head-count {
    display: flex;
    align-items: flex-end;
}

.item__count {
    margin-left: 16px;
}

.item__profile-img {
    width: var(--font-medium);
    height: var(--font-medium);
    border-radius: 50%;
    border: 1px solid var(--color-light-grey);
}

a.item__title {
    user-select: none;
    cursor: pointer;
    margin: 0 16px;
    color: black;
    text-decoration: none;
}

.fa-cog {
    font-size: var(--font-regular);
    color: var(--color-light-grey);
    cursor: pointer;
}

.fa-sign-out-alt {
    font-size: var(--font-regular);
    color: var(--color-red);
    cursor: pointer;
}

.item__leader {
    width: var(--font-regular);
    height: var(--font-regular);
    line-height: var(--font-regular);

    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--color-blue);
    color: var(--color-yellow);
    font-weight: bold;
}

/* 생성 폼 */
.form {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 48px;
    margin: 0 16px;
    background-color: var(--color-white);
}

.form__title {
    color: var(--color-dark-grey);
    width: 100%;
    padding: 8px;
}

.form__input {
    margin-top: 8px;
}

.form__buttons {
    display: flex;
    margin-top: 36px;
    justify-content: center;
    flex-wrap: wrap;
}

.form__buttons > * {
    display: flex;
    width: 120px;
}

.form__buttons > *:first-child {
    margin-right: 16px;
}

/* 업데이트 폼 */

.update-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: var(--font-small);
    padding-left: 8px;
    color: var(--color-dark-grey);
}

.fa-trash-alt {
    transition: color 100ms ease-in;
    cursor: pointer;
}

.fa-trash-alt:hover {
    color: var(--color-red);
}

.update-body {
    display: flex;
    flex-wrap: wrap;
}

.update-body > div {
    margin-top: 16px;
}

.update-left {
    display: flex;
    flex-direction: column;
    width: 160px;
    flex-grow: 5;
}

.update-left > *:not(*:first-child) {
    margin-top: 8px;
}

.update-right-wrap {
    display: flex;
    flex-direction: column;
    background-color: #ffbfbf;
    width: 150px;
    flex-grow: 1;
    margin: 0 8px;
    padding: 8px;
}

.update-right-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    color: var(--color-white);
}

.update-right {
    display: flex;
    flex-direction: column;
    max-height: 161px;
    flex-grow: 1;
    overflow-y: auto;
}

.update-right.tayo-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #ffa7a7;
}

.update-right.tayo-scroll-bar {
    scrollbar-color: #ffa7a7 transparent;
}

.member-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-white);
}

.member {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
    color: grey;
    cursor: default;
    user-select: none;
}

.member:nth-child(even) {
    background-color: #fff5f5;
}

.member-exile {
    color: var(--color-orange);
    user-select: none;
    cursor: pointer;
}


.inv-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0;
}

.copied-description {
    position: absolute;
    font-size: var(--font-micro);
    display: inline-block;
    color: var(--color-puple);
    font-weight: bold;
    top: -16px;
    right: -5px;
    font-style: italic;

    user-select: none;
    opacity: 0;
    transition: all 200ms ease-in;
}

.inv-wrap.copied .copied-description {
    top: -6px;
    opacity: 1;
}

.inv {
    display: flex;
    align-items: center;
}

.inv__input {
    display: flex;
    border: none;
    width: 100px;
    flex-grow: 1;
    font-size: 14px;
}

.fa-clone {
    margin-right: 4px;
    transition: color 100ms linear;
    color: var(--color-light-grey);
    cursor: pointer;
}

.fa-clone:hover {
    color: var(--color-puple);
}
.inv-wrap.copied .fa-clone {
    color: var(--color-puple);
}

.inv-under-line {
    height: 2px;
    background-color: var(--color-puple);
    width: 0;
    transition: width 200ms linear;

}

.inv-wrap.copied .inv-under-line {
    width: 100%;
}

.inv-title {
    font-size: var(--font-micro);
    color: var(--color-green);
    position: relative;
    top: 8px;
    text-align: left;
    font-weight: bold;
}


@media screen and (max-width: 768px) {

    .work-spaces__item i {
        display: none;
    }

    .item__profile-img {
        display: none;
    }

    .form {
        padding: 40px 32px;
    }

    .form__buttons > * {
        margin: 8px;
    }

    .form__buttons > *:first-child {
        margin-right: 8px;
    }
}