<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.tayo.app.dao.FileDao">

    <select id="selectByFileId" resultType="UploadFile">
        select id, saved_name, origin_name, member_id
        from UPLOAD_FILE
        where ID = #{fileId}
    </select>

    <insert id="insert" parameterType="UploadFile">
        <selectKey keyProperty="id" resultType="_int" order="BEFORE">
            SELECT UPLOAD_FILE_SEQ.nextval FROM DUAL
        </selectKey>
        insert into UPLOAD_FILE(ID, SAVED_NAME, ORIGIN_NAME, MEMBER_ID)
        VALUES (#{id}, #{savedName}, #{originName}, #{memberId})
    </insert>

    <delete id="delete" parameterType="_int">
        delete from UPLOAD_FILE where ID = #{fileId}
    </delete>

</mapper>