<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.tayo.app.dao.AdminMemberDao">
	
	<sql id="selectBoard">
	   	SELECT
 	  		id, name, email, phone, create_date, grade, ban
	     FROM Member
	</sql>
	
	<sql id="whereTitleSearch">
		WHERE name LIKE '%' || #{search} || '%'
	</sql>
	
   <select id="selectList" resultType="Member" parameterType="fun.tayo.app.common.util.Paging">
        SELECT * FROM (
        	SELECT rownum rnum, M.* FROM (
	        	<include refid="selectBoard"/>
	        	<include refid="whereTitleSearch"/>
	        	ORDER BY id 
	        	) M
     	   ) R
        WHERE rnum BETWEEN #{startNo} AND #{endNo}
    </select>
    
    <select id="selectCntAll" resultType="int" parameterType="fun.tayo.app.common.util.Paging">
	  	SELECT count(*) FROM (
	  		<include refid="selectBoard"/>
			<include refid="whereTitleSearch"/>	 		
		)
	</select>
	
	<select id="selectMemberById" resultType="Member" parameterType="_int">
		SELECT id, grade, ban
		FROM MEMBER
		WHERE id = #{memberId}
	</select>

	<update id="updateGrade" parameterType="map">
		UPDATE MEMBER
		SET grade = #{grade}
		WHERE id = #{id}
	
	</update>
	
	<update id="updateBan" parameterType="map">
		UPDATE MEMBER
		SET ban = #{ban}
		WHERE id = #{id}
	
	</update>
	
</mapper>