<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.tayo.app.dao.ProfileDao">

    <select id="selectMemberById" resultType="Member" parameterType="_int">
        SELECT ID
             , NAME
             , EMAIL
             , FILE_ID AS PROFILE
             , PHONE
             , PASSWORD
        FROM MEMBER
        WHERE ID = #{memberId }

    </select>
    
    <select id="selectCntHasPassword" resultType="_int" parameterType="_int">
        SELECT count(*)
        FROM MEMBER
        WHERE ID = #{memberId } and PASSWORD is not null

    </select>
    
    <select id="selectCntByIdAndPassword" resultType="_int" parameterType="map">
        SELECT count(*)
        FROM MEMBER
        WHERE ID = #{memberId } and PASSWORD  = #{password}

    </select>


    <update id="update" parameterType="Member">
        update MEMBER
        set NAME     = #{name},
            PHONE    = #{phone},
            PASSWORD = #{password}
        where ID = #{id}
    </update>

</mapper> 