<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.tayo.app.dao.BoardDao">

    <resultMap id="memberSimple" type="MemberSession">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="profile" column="profile"/>
    </resultMap>

    <resultMap id="comments" type="Comments">
        <id property="id" column="id"/>
        <result property="writeDate" column="write_date"/>
        <result property="content" column="content"/>
        <association property="member" resultMap="memberSimple" columnPrefix="member_"/>
    </resultMap>

    <resultMap id="post" type="Board">
        <id property="id" column="id"/>
        <result property="rowNumber" column="row_number"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="writeDate" column="write_date"/>
        <result property="planDate" column="plan_date"/>
        <result property="uploadFileId" column="upload_file_id"/>
        <result property="uploadFileName" column="upload_file_name"/>
        <result property="read" column="read"/>
        <result property="commentsCnt" column="comments_cnt"/>
        <result property="workSpaceId" column="work_space_id"/>

        <association property="member" resultMap="memberSimple" columnPrefix="member_"/>
        <collection property="commentsList" resultMap="comments" columnPrefix="comments_"/>
    </resultMap>

    <select id="selectTotalCount" resultType="_int">
        select count(*)
        from BOARD
        where WORK_SPACE_ID = #{workSpaceId}
          and CATEGORY_ID = #{categoryId}
    </select>

    <select id="selectsByPagingBoardAndMember" resultMap="post">
        select V3.*, comments_cnt
        from (select *
              from (select ROWNUM rnum, V.*
                    from (
                             select ROWNUM  row_number,
                                    id,
                                    member_id,
                                    title,
                                    write_date,
                                    plan_date,
                                    read,
                                    NAME    member_name,
                                    FILE_ID member_profile
                             FROM (
                                      select BOARD.id,
                                             BOARD.member_id,
                                             title,
                                             write_date,
                                             plan_date,
                                             M.NAME,
                                             M.FILE_ID,
                                             NVL2(CB.MEMBER_ID, 'Y', 'N') read
                                      from BOARD
                                               LEFT OUTER JOIN CHECKED_BOARD CB on ID = CB.BOARD_ID and CB.MEMBER_ID = #{memberId}
                                               INNER JOIN MEMBER M on M.ID = BOARD.MEMBER_ID
                                      where CATEGORY_ID = #{categoryId}
                                        and WORK_SPACE_ID = #{workSpaceId}
                                      order by ID desc
                                  ) B
                             order by read, row_number
                         ) V
                   ) V2
              where rnum between #{paging.startNo} and #{paging.endNo}
              order by rnum) V3
                 left outer join (
            select BOARD_ID, count(*) over (partition by BOARD_ID) comments_cnt from COMMENTS
        ) CM on CM.BOARD_ID = V3.ID
    </select>

    <select id="selectDetail" resultMap="post">
        select B.ID,
               B.TITLE,
               B.CONTENT,
               BOARD_FILE.UPLOAD_FILE_ID,
               B.WRITE_DATE,
               B.PLAN_DATE,
               B.MEMBER_ID,
               B.WORK_SPACE_ID,
               UPLOAD_FILE.ORIGIN_NAME upload_file_name,
               MEMBER.NAME             member_name,
               MEMBER.FILE_ID          member_profile,
               C.ID                    comments_id,
               C.WRITE_DATE            comments_write_date,
               C.CONTENT               comments_content,
               C.MEMBER_ID             comments_member_id,
               C.NAME                  comments_member_name,
               C.FILE_ID               comments_member_profile
        from (select ID, MEMBER_ID, TITLE, CONTENT, WRITE_DATE, PLAN_DATE, WORK_SPACE_ID
              from BOARD
              where ID = #{boardId}) B
                 left outer join BOARD_FILE on B.ID = BOARD_FILE.BOARD_ID
                 left outer join UPLOAD_FILE on BOARD_FILE.UPLOAD_FILE_ID = UPLOAD_FILE.ID
                 inner join MEMBER on B.MEMBER_ID = MEMBER.ID
                 left outer join (
            select COMMENTS.ID, WRITE_DATE, CONTENT, BOARD_ID, MEMBER_ID, MEMBER.NAME, MEMBER.FILE_ID
            from COMMENTS
                     inner join MEMBER on COMMENTS.MEMBER_ID = MEMBER.ID) C on B.ID = C.BOARD_ID
        order by comments_id
    </select>

    <select id="selectCntNewPost" resultType="_int">
        select count(*)
        from (select id
              from BOARD
              where WORK_SPACE_ID = #{workSpaceId}
                and CATEGORY_ID = #{categoryId}) B
                 left outer join (select BOARD_ID from CHECKED_BOARD where MEMBER_ID = #{memberId}) CB
                                 on ID = BOARD_ID
        where BOARD_ID is null
    </select>

    <select id="selectCntReadCheck" resultType="_int">
        select count(*)
        from CHECKED_BOARD
        where BOARD_ID = #{boardId}
          and MEMBER_ID = #{memberId}
    </select>

    <select id="selectCntBoardInWorkSpace" resultType="_int">
        select count(*)
        from BOARD
        where ID = #{boardId}
          and WORK_SPACE_ID = #{workSpaceId}
    </select>

    <select id="selectCntCommentsOfMember" resultType="_int">
        select count(*)
        from COMMENTS
        where ID = #{commentsId}
          and MEMBER_ID = #{memberId}
    </select>

    <select id="selectCntBoardOfMember" resultType="_int">
        select count(*)
        from BOARD
        where ID = #{boardId}
          and MEMBER_ID = #{memberId}
    </select>

    <insert id="insertReadCheck">
        insert into CHECKED_BOARD(board_id, member_id)
        VALUES (#{boardId}, #{memberId})
    </insert>

    <insert id="insertComments" parameterType="Comments" useGeneratedKeys="false">
        <selectKey keyProperty="id" resultType="_int" order="BEFORE">
            SELECT COMMENTS_SEQ.nextval FROM DUAL
        </selectKey>
        insert into COMMENTS(ID, CONTENT, MEMBER_ID, BOARD_ID)
        VALUES (#{id}, #{content}, #{member.id}, #{boardId})
    </insert>

    <insert id="insert" parameterType="map" useGeneratedKeys="false">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT BOARD_SEQ.nextval FROM DUAL
        </selectKey>
        insert into BOARD(ID, MEMBER_ID, WORK_SPACE_ID, CATEGORY_ID, TITLE, CONTENT, PLAN_DATE)
        VALUES (#{id}, #{memberId}, #{workSpaceId}, #{categoryId}, #{title}, #{content}, #{planDate})
    </insert>

    <insert id="insertBoardFileLink" parameterType="map">
        insert into BOARD_FILE(UPLOAD_FILE_ID, BOARD_ID)
        VALUES (#{fileId}, #{boardId})
    </insert>

    <update id="update" parameterType="map">
        update BOARD set
        <trim prefixOverrides=",">
            <if test="title != null">
                , TITLE = #{title}
            </if>
            <if test="content != null">
                , CONTENT = #{content}
            </if>
            <if test="planDate != null">
                , PLAN_DATE = #{planDate}
            </if>
        </trim>
        where ID = #{boardId}
    </update>

    <delete id="deleteComments" parameterType="_int">
        delete
        from COMMENTS
        where ID = #{commentsId}
    </delete>
</mapper>