<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.tayo.app.dao.WorkSpaceDao">

    <resultMap id="workspaceDetail" type="WorkSpace">
        <id property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="name" column="name"/>
        <result property="invitationCode" column="invitation_code"/>
        <result property="headCount" column="head_count"/>

        <collection property="members" ofType="WorkSpaceAndMember">
            <id property="memberId" column="m_id"/>
            <result property="workSpaceId" column="id"/>
            <result property="memberName" column="m_name"/>
        </collection>
    </resultMap>

    <select id="selectsByMemberId" resultType="WorkSpace">
        select WS.id, WS.member_id, WS.name, WS.head_count
        from (select * from TEAM_MEMBER where MEMBER_ID = #{memberId}) TM
                 inner join WORK_SPACE WS on TM.WORK_SPACE_ID = WS.ID
        order by decode(WS.MEMBER_ID, #{memberId}, 1), WS.ID desc
    </select>

    <select id="selectDetail" parameterType="WorkSpaceAndMember" resultMap="workspaceDetail">
        select WS.ID, WS.MEMBER_ID, WS.NAME, WS.INVITATION_CODE, WS.HEAD_COUNT, M.ID m_id, M.NAME m_name
        from (select id, member_id, name, invitation_code, head_count
              from WORK_SPACE
              where ID = #{workSpaceId}
                and MEMBER_ID = #{memberId}) WS
                 inner join TEAM_MEMBER TM on WS.ID = TM.WORK_SPACE_ID
                 inner join MEMBER M on TM.MEMBER_ID = M.ID
        order by decode(m_id, #{memberId}, 1)
    </select>

    <select id="selectDetailByInvCode" parameterType="String" resultMap="workspaceDetail">
        select WS.ID, WS.MEMBER_ID, WS.NAME, WS.INVITATION_CODE, WS.HEAD_COUNT, M.ID m_id, M.NAME m_name
        from (select id, member_id, name, invitation_code, head_count
              from WORK_SPACE
              where INVITATION_CODE = #{invitationCode}) WS
                 inner join TEAM_MEMBER TM on WS.ID = TM.WORK_SPACE_ID
                 inner join MEMBER M on TM.MEMBER_ID = M.ID
    </select>

    <select id="selectCntTeamMember" parameterType="_int" resultType="_int">
        select count(*)
        from TEAM_MEMBER
        where WORK_SPACE_ID = #{workSpaceId}
    </select>

    <insert id="insert" parameterType="WorkSpace" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into WORK_SPACE(id, member_id, name, invitation_code, head_count)
        VALUES (WORK_SPACE_SEQ.nextval, #{memberId}, #{name}, #{invitationCode}, #{headCount})
    </insert>

    <insert id="insertTeamMember" parameterType="WorkSpaceAndMember">
        insert into TEAM_MEMBER(work_space_id, member_id)
        VALUES (#{workSpaceId}, #{memberId})
    </insert>

    <update id="updateInvitationCode" parameterType="WorkSpace">
        update WORK_SPACE
        set INVITATION_CODE = #{invitationCode}
        where ID = #{id}
          and MEMBER_ID = #{memberId}
    </update>

    <update id="update" parameterType="WorkSpace">
        update WORK_SPACE
        set NAME       = #{name},
            HEAD_COUNT = #{headCount}
        where ID = #{id}
          and MEMBER_ID = #{memberId}
    </update>

    <delete id="delete" parameterType="WorkSpaceAndMember">
        delete
        from WORK_SPACE
        where ID = #{workSpaceId}
          and MEMBER_ID = #{memberId}
    </delete>

    <delete id="deleteTeamMember" parameterType="WorkSpaceAndMember">
        delete
        from TEAM_MEMBER
        where WORK_SPACE_ID = #{workSpaceId}
          and MEMBER_ID = #{memberId}
    </delete>
</mapper>