<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.tayo.app.dao.WorkSpaceDao">

    <select id="selectsByMemberId" resultType="WorkSpace">
        select WS.id, WS.member_id, WS.name, WS.head_count
        from (select * from TEAM_MEMBER where MEMBER_ID = #{memberId}) TM
                 inner join WORK_SPACE WS on TM.WORK_SPACE_ID = WS.ID
        order by decode(WS.MEMBER_ID, #{memberId}, 1), WS.ID desc
    </select>

    <insert id="insert" parameterType="WorkSpace" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into WORK_SPACE(id, member_id, name, invitation_code, head_count)
        VALUES (WORK_SPACE_SEQ.nextval, #{memberId}, #{name}, #{invitationCode}, #{headCount})
    </insert>

    <insert id="insertTeamMember" parameterType="TeamMember">
        insert into TEAM_MEMBER(work_space_id, member_id)
        VALUES (#{workSpaceId}, #{memberId})
    </insert>

</mapper>